<%- include('partials/header'); -%>

<ul class="recipes">
  <li class="recipe">
    <img src="/smoothie.png" alt="smoothie recipe icon">
    <h4>Admin Page</h4>
    <p>This is the Admin Page.</p>
  </li>
  
</ul>

<%- include('partials/footer'); -%>